.show{
			display:block;
		}
		.hidden{
			display: none;
		}
		.container-box{
			margin-top:30px;
			margin-left:30px;
		}
		.menu {
			background: #dde4e6;
		}
		.show .table{
			width:98%;
		}
		.ssk{
			margin:8px 0;
			padding-left:3px;
		}
		.ssk input{
			height:33px;
			width:180px;
		}
		.ssk select{
			height:33px;
			width:140px;
		}
		.ssk .btn{
			    padding: 5px 12px;
			    margin-left:10px;
		}
		.add {
			padding-top:20px;
		}